<!doctype html>
<html lang="en">
<head>
    <title>Interviewsly</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Goole fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700%7CMerriweather+Sans:300,400,700" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="assets/css/all.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/theme.css">

    <!-- JS -->
    <script src="assets/js/jquery.slim.min.js" defer></script>
    <script src="assets/js/popper.min.js" defer></script>
    <script src="assets/js/bootstrap.min.js" defer></script>
</head>

<body>
    <header class="site-header">
        <a href="#main" class="sr-only sr-only-focusable">Skip to main content</a>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light py-3" aria-label="Main navigation">
                <a class="navbar-brand text-dark" href="index.html">
                    <img src="assets/img/logo-boost.svg" alt="Boost Theme">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars fa-lg"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav align-items-lg-center text-uppercase pt-3 pt-lg-0 ml-auto">
                        
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main id="main">
        <!-- Hero -->
        <section class="container">
            <div class="row justify-content-lg-between align-items-lg-center py-5">
                <div class="col-lg-6 text-center text-lg-left">
                    <h1 class="display-4 mb-4">Simple, effective, and fun interviews solution. </h1>
                    <p class="lead text-secondary mb-4">We make interviews high-signal for hiring managers and an amazing experience for candidates.</p>
                    <a class="btn btn-primary btn-block rounded-pill d-md-inline-block w-auto mr-md-4 mb-4 mb-md-0" href="https://themes.getbootstrap.com/product/boost/">Apply for the beta</a>
                </div>
                <div class="col-lg-6">
                    <img src="assets/img/revenue.svg" class="img-fluid d-none d-lg-block" alt="">
                </div>
            </div>
        </section>

        

            <hr class="sep border-primary" role="presentation">

            <!-- Call to action -->
            <div class="container py-5">
                <div class="text-center">
                    <h2 class="mb-4">Are you ready to start?</h2>
                    <div class="mb-4">
                        <a class="btn btn-primary rounded-pill" href="https://themes.getbootstrap.com/product/boost/" role="button">Apply for the beta</a>
                    </div>
                </div>
            </div>

        </div><!-- end bg-skew -->
    </main>

    <footer class="site-footer mt-5">
        <div class="container">
            <div class="row justify-content-md-between">
                <div class="col-sm-12 col-md-4 mb-4">
                    <h2 class="h5 mb-3">Interviewsly mission:</h2>
                    <p>Make interviews high-signal for hiring managers and an amazing experience for candidates</p>
                </div>
                <!--
                <div class="col-4 col-md-2 mb-4">
                    <h2 class="h5 mb-3">About</h2>
                    <ul class="nav flex-column">
                        <li class="mb-1"><a href="#">About</a></li>
                        <li class="mb-1"><a href="#">Team</a></li>
                        <li class="mb-1"><a href="#">Careers</a></li>
                        <li class="mb-1"><a href="#">Blog</a></li>
                    </ul>
                </div>
                
                <div class="col-4 col-md-2 mb-4">
                    <h2 class="h5 mb-3">Help</h2>
                    <ul class="nav flex-column">
                        <li class="mb-1"><a href="#">FAQ</a></li>
                        <li class="mb-1"><a href="#">Contact</a></li>
                        <li class="mb-1"><a href="#">Phones</a></li>
                        <li class="mb-1"><a href="#">Chat</a></li>
                    </ul>
                </div>-->
            </div>

            <hr role="presentation">

            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-center">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="icon icon-sm icon-secondary" href="#"><i class="icon-inner fab fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="icon icon-sm icon-secondary" href="#"><i class="icon-inner fab fa-facebook-f" aria-hidden="true"></i><span class="sr-only">Facebook</span></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="icon icon-sm icon-secondary" href="#"><i class="icon-inner fab fa-linkedin-in" aria-hidden="true"></i><span class="sr-only">Linkedin</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>

