<!doctype html>
<html lang="en">
<head>
    <title>Interviewsly - Privacy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Goole fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700%7CMerriweather+Sans:300,400,700" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="assets/css/all.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/theme.css">

    <!-- JS -->
    <script src="assets/js/jquery.slim.min.js" defer></script>
    <script src="assets/js/popper.min.js" defer></script>
    <script src="assets/js/bootstrap.min.js" defer></script>
</head>

<body>
    <header class="site-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light py-3" aria-label="Main navigation">
                <a class="navbar-brand text-dark" href="/">
                    <img src="assets/img/ilogo.png" alt="Interviewsly">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars fa-lg"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav align-items-lg-center text-uppercase pt-3 pt-lg-0 ml-auto">
                        
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main id="main">
        <div class="container">
            <div class="row justify-content-center text-center my-5">
                <div class="col-lg-10">
                    <img src="assets/img/coffee.jpg" class="img-fluid img-thumbnail" alt="Brown ceramic teacup">
                </div>
            </div>
        </div>

        <div class="bg-skew bg-skew-light">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <article class="pb-2">
                            <h1 class="text-center">Interviewsly Privacy Policy</h1>
                            

                            <p class="lead">Your privacy is important to us. It is Interviewsly LLC's policy to respect your privacy regarding any information we may collect from you across our website, http://interviewsly.com, and other sites we own and operate.</p>

                                <p class="lead">We only ask for personal information when we truly need it to provide a service to you. We collect it by fair and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it will be used.</p>

                                    <p class="lead">We only retain collected information for as long as necessary to provide you with your requested service. What data we store, we’ll protect within commercially acceptable means to prevent loss and theft, as well as unauthorized access, disclosure, copying, use or modification.</p>

                                        <p class="lead">We don’t share any personally identifying information publicly or with third-parties, except when required to by law.</p>

                                            <p class="lead">Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and practices of these sites, and cannot accept responsibility or liability for their respective privacy policies.</p>

                                                <p class="lead">You are free to refuse our request for your personal information, with the understanding that we may be unable to provide you with some of your desired services.</p>

                                                    <p class="lead">Your continued use of our service will be regarded as acceptance of our practices around privacy and personal information. If you have any questions about how we handle user data and personal information, feel free to contact us.</p>

                                                    <p class="lead">This policy is effective as of 10 April 2020.</p>
                        </article>

                    </div>
                        
                </div>
            </div>

        </div><!-- end bg-skew -->
    </main>

    <footer class="site-footer mt-5">
        <div class="container">

            <hr role="presentation">

            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-center">
                <div class="text-muted mb-3">&copy; Interviewsly LLC</div>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="icon icon-sm icon-secondary" href="https://Twitter.com/interviewslyhq"><i
                                class="icon-inner fab fa-twitter" aria-hidden="true"></i><span
                                class="sr-only">Twitter</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>

